[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3.7"

[packages]
django = "*"
celery = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
django-rest-framework = "*"
django-allauth = "*"
django-rest-auth = "*"
drf-nested-views = "*"
drf-nested-routers = "*"
pillow = "*"
beautifulsoup4 = "*"
